# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
*.env/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# JSON outputs (анализатор)
*.analysis.json
# fix